<section class="section events">
  <div class="align">
    <h2 class="section__title">eventos</h2>
    <article class="section__content">
      <p>
        Organizamos varios eventos durante el año.
      </p>
      <ul>
        <li>
          Meetups tematicos: Desarrollo, Diseño, Emprendimiento
        </li>
        <li>
          International Women's Day
        </li>
        <li>
          GCP Next Extended
        </li>
        <li>
          Google I/O Extended
        </li>
        <li>
          Android Study Jam
        </li>
        <li>Dev Fest</li>
      </ul>
    </article>
    <section class="events__content">
      <div class="events__principal" *ngIf="mainEvent | async; let events">
        <app-event-card [event]="events[0]"></app-event-card>
      </div>
      <h3 class="events__past">eventos pasados</h3>
      <section class="events__list">
        <article
          *ngFor="let event of events | async; let i = index"
          class="events__list-item">
          <app-event-card [event]="event"></app-event-card>
        </article>
      </section>
    </section>
  </div>
  <!-- class-description="event-card__description--black" -->
  <div class="building"></div>
</section>