<header class="page__header">
  <div class="align">
    <nav class="nav-site">
      <ul class="nav-menu">
        <li class="desktop">
          <a routerLink="/" class="nav-menu__logo nav-menu__link">
            <img src="assets/images/icon-logo.svg" alt="GDG Cochabamba logo" />
          </a>
        </li>
        <li>
          <a routerLink="/events" class="nav-menu__link">
            Eventos
          </a>
        </li>
        <li>
          <a routerLink="/videos" class="nav-menu__link">
            Videos
          </a>
        </li>
        <li>
          <a routerLink="/members" class="nav-menu__link">
            Miembros
          </a>
        </li>
      </ul>

      <div class="mobile">
        <!-- <a href="#" class="nav-menu--movil">
                        <i class="fas fa-bars"></i>
                </a> -->
      </div>
      <div class="social-network">
        <ul class="social-network__list">
          <li class="social-network__item">
            <a href="https://www.facebook.com/GDGCochabamba" target="_blank" class="social-network__link">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li class="social-network__item">
            <a href="https://www.meetup.com/GDGCochabamba" target="_blank" class="social-network__link">
              <i class="fab fa-meetup"></i>
            </a>
          </li>
          <li class="social-network__item">
            <a href="https://www.youtube.com/GDGCochabamba" target="_blank" class="social-network__link">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="social-network__item">
            <a href="https://twitter.com/GDGCochabamba" target="_blank" class="social-network__link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="social-network__item">
            <a href="mailto:cochabamba@gdg.com.bo" target="_blank" class="social-network__link">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>