<section class="section members">
  <div class="align">
    <h2 class="section__title">Miembros activos del GDG</h2>
    <article class="section__content">
      Conformamos una comunidad geek abierta y voluntaria, apasionada por la tecnología en la que se trabaja con distintos proyectos, 
      se comparten experiencias y se aprende sobre nuevas tecnologías de Google constantemente.
    </article>

    <section class="members__list">
      <div class="members__list-item">
        <!-- <app-card
          title="International Women's Day"
          date="12 de Marzo del 2016"
          image="https://lh3.googleusercontent.com/JKD1IzCYQWYRmuZUtpQtN63AL-AJ5x998xAzotX8-Tw6CLkxC8szUcN-MzHo8XqXvvtd=w1920-h1080-rw-no"
          url="https://plus.google.com/u/0/collection/c5P8PB">
        </app-card> -->
      </div>
    </section>
  </div>
  <div class="hills"></div>
</section>
  