<section class="section members">
  <div class="align">
    <h2 class="section__title">Miembros del GDG Cochabamba</h2>
    <article class="section__content">
      Conformamos una comunidad geek abierta y voluntaria, apasionada por la tecnología en la que se trabaja con distintos proyectos, 
      se comparten experiencias y se aprende sobre nuevas tecnologías de Google constantemente.
    </article>

    <section class="members__list">
        <!-- Icon codes from fontawesome.com
          'fab fa-facebook-square'
          'fab fa-twitter'
          'fab fa-google-plus'
          'fab fa-linkedin'
          'fab fa-github'
          'fab fa-meetup'
        -->
      <div *ngFor="let member of members | async" class="members__list-item">
        <app-member-card [member]="member"></app-member-card>
      </div>
    </section>
  </div>
  <div class="hills"></div>
</section>
