<section class="section members">
  <div class="align">
    <h2 class="section__title">Miembros activos del GDG</h2>
    <article class="section__content">
      Conformamos una comunidad geek abierta y voluntaria, apasionada por la tecnología en la que se trabaja con distintos proyectos, 
      se comparten experiencias y se aprende sobre nuevas tecnologías de Google constantemente.
    </article>

    <section class="members__list">
        <!-- Icon codes from fontawesome.com -->
        <!-- Valid orgTeams: 'Coordinación con speakers'
                             'Diseño y redes sociales'
                             'Producción audiovisual'
                             'Comunicación'
                             'Logística - sponsorship'
                             'Logística de ubicaciones'
                             'Swag'
                             'Marketing y ventas'
                             'Web'
        -->
      <div class="members__list-item">
        <app-member-card
          image="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
          fullname="John Doe"
          [orgTeams]="['Coordinación con speakers', 'Diseño y redes sociales']"
          [socialLinks]="[{
            url:'https://www.facebook.com',
            icon:'fab fa-facebook-square'
          }, {
            url:'https://www.twitter.com',
            icon:'fab fa-twitter'
          }]">
        </app-member-card>
      </div>
      <div class="members__list-item">
        <app-member-card
          image="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
          fullname="John Doe 2"
          [orgTeams]="['Producción audiovisual', 'Comunicación']"
          [socialLinks]="[{
            url:'https://plus.google.com',
            icon:'fab fa-google-plus'
          }, {
            url:'https://www.linkedin.com',
            icon:'fab fa-linkedin'
          }]">
        </app-member-card>
      </div>
      <div class="members__list-item">
        <app-member-card
          image="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
          fullname="John Doe 3"
          [orgTeams]="['Logística - sponsorship', 'Logística de ubicaciones']"
          [socialLinks]="[{
            url:'https://github.com',
            icon:'fab fa-github'
          }, {
            url:'https://www.meetup.com',
            icon:'fab fa-meetup'
          }]">
        </app-member-card>
      </div>
      <div class="members__list-item">
        <app-member-card
          image="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
          fullname="John Doe 4"
          [orgTeams]="['Swag']"
          [socialLinks]="[{
            url:'https://www.facebook.com',
            icon:'fab fa-facebook-square'
          }, {
            url:'https://www.twitter.com',
            icon:'fab fa-twitter'
          }]">
        </app-member-card>
      </div>
      <div class="members__list-item">
        <app-member-card
          image="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
          fullname="John Doe 5"
          [orgTeams]="['Marketing y ventas', 'Web']"
          [socialLinks]="[{
            url:'https://plus.google.com',
            icon:'fab fa-google-plus'
          }, {
            url:'https://www.linkedin.com',
            icon:'fab fa-linkedin'
          }]">
        </app-member-card>
      </div>
    </section>
  </div>
  <div class="hills"></div>
</section>
